---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "../layouts/Layout.astro";

const auth = getAuth(app);
if (Astro.cookies.has("session")) {
  const sessionCookie = Astro.cookies.get("session")!.value;
  const decodedCookie = await auth.verifySessionCookie(sessionCookie);
  if (decodedCookie) {
    return Astro.redirect("/dashboard");
  }
}
---

<Layout title="Register">
  <body>
    <h1 class="site-title">Dev Job Tracker</h1>
    <div class="create-user">
      <i class="fa-solid fa-user-plus top-icon"></i>
      <form action="/api/auth/register" method="post" id="registerForm">
        <div class="form-outline mb-4">
          <input
            id="email"
            name="email"
            class="form-control"
            placeholder="email"
            required
          />
        </div>
        <div class="form-outline mb-4">
          <input
            id="password"
            type="password"
            name="password"
            class="form-control"
            placeholder="Password"
            required
          />
        </div>
        <button
          id="createUserButton"
          type="submit"
          class="btn btn-primary"
          style="margin-top: 10px"
        >
          Register
        </button>
        <hr class="divider" />
        <button id="login-button" class="btn btn-primary login-button">
          Continue to Login</button
        >
        <div class="hidden-info">
          <p id="msg-for-failure-sucess"></p>
        </div>
      </form>
    </div>
  </body>
</Layout>
<script>
  const form = document.querySelector("form") as HTMLFormElement;
  const loginButton = document.getElementById("login-button");

  loginButton!.addEventListener("click", () => {
    window.location.assign("/");
  });

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    const email = formData.get("email")?.toString();
    const password = formData.get("password")?.toString();

    console.log(email);
    if (!email || !password) {
      const errorMessage = document.getElementById("msg-for-failure");
      errorMessage!.innerText = "Please enter a name, email, and password";
      return;
    }
    try {
      const registerRequest = {
        email: email,
        password: password,
      };
      const response = await fetch("/api/auth/register", {
        method: "POST",
        body: JSON.stringify(registerRequest),
      });

      if (response.redirected) {
        window.location.assign(response.url);
      } else {
        const errorMessage = document.getElementById("msg-for-failure");
        errorMessage!.innerText =
          "Registration failed. Please check Server Log";
      }
    } catch (error) {
      const errorMessage = document.getElementById("msg-for-failure");
      errorMessage!.innerText = "Registration failed. Please check Server Log";
    }
  });
</script>
